* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

.calculator {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.displayScreen {
  width: 400px;
  height: 50px;
  color: white;
  background-color: #001933;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px 5px;
}

.calcBody {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.calcRow {
  width: 400px;
  height: 50px;
  display: flex;
}

.calcBtn {
  width: 100px;
  height: 50px;
  border-radius: 0;
  border-width: 1px;
  border-color: darkgrey;
}

.btn0 {
  width: 200px;
  height: 50px;
  border-radius: 0;
  border-width: 0;
  border-width: 1px;
  border-color: darkgrey;
}

.operator {
  background-color: rgb(255, 166, 0);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

.nav-bar {
  margin: 10px;
}

.home {
  margin: 20px;
}

.home-header {
  font-size: 40px;
  margin-bottom: 40px;
}

.home-text {
  margin-bottom: 30px;
}

.calculator-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.calculator-header {
  font-size: 36px;
  margin-right: 40px;
}

.quote {
  font-size: 30px;
  margin: 50px;
  text-align: center;
}
